//====================================================================================================
@media (max-width: $md3+px) {
   .icon-menu {
      display: block;
      position: absolute;
      top: 5px;
      right: 10px;
      width: 40px;
      height: 40px;
      cursor: pointer;
      z-index: 5;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      span {
         @include anim(0.3s, 0s);
         // top: 8px;
         // left: 0px;
         // position: absolute;
         width: 100%;
         height: 5px;
         background-color: #000000;
         border-radius: 30px;
         &:first-child {
            top: 0px;
         }
         &:last-child {
            top: auto;
            bottom: 0px;
         }
      }
      &.active {
         top: 16px;
         span {
            background-color: #ffffff;
            @include scale(0);
            &:first-child {
               @include rotate(-45deg);
               top: 11px;
               position: absolute;
            }
            &:last-child {
               @include rotate(45deg);
               bottom: 23px;
               position: absolute;
            }
         }
      }
   }
   .menu {
      &__body {
         height: 100vh;
         width: 100%;
         background: #0b4ea5;
         position: fixed;
         top: 0;
         right: -100%;
         transition: 0.7s;
         z-index: 4;
         padding: 50px 30px;
         display: flex;
         justify-content: center;
      }
      &__body.active {
         height: 100vh;
         width: 100%;
         background: #0b4ea5;
         position: fixed;
         top: 0;
         right: 0;
         transition: 0.7s;
         z-index: 4;
         padding: 60px 30px;
         display: flex;
         justify-content: center;
      }
      &__list {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
      }
      &__list li {
         width: 100%;
      }

      &__list a {
         font-size: 44px;
         line-height: normal;
      }

      &__link {
      }
      @media (max-width: $md3+px) {
         &__list {
            justify-content: flex-start;
         }
         &__list a {
            text-align: left;
            margin-right: 30px;
         }
      }
   }
}

//====================================================================================================
.header {
   height: 100%;
   width: 100%;
   background: #e5e5e5;
   &__top {
   }

   &__bottom {
   }
   @media (max-width: $md3+px) {
      & {
         display: flex;
         flex-direction: column-reverse;
      }
   }
}
.top-header {
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   background: #ffffff;
   padding: 10px 0;
   &__wrapper {
   }

   &__content {
   }
}
.content-top {
   display: flex;
   justify-content: space-around;
   align-items: center;
   &__mb {
      display: none;
      @media (max-width: $md3+px) {
         width: 25px;
         height: 25px;
         display: flex;
         justify-content: center;
         align-items: center;
         background: #c4c4c4;
         border-radius: 50%;
         margin-right: 8px;
      }
   }
   &__img1 {
      display: block;
      width: 40px;
      padding-right: 8px;
      @media (max-width: $md3+px) {
         display: none;
      }
   }
   &__call {
      padding: 10px 20px;
      box-shadow: 0px 7px 5px rgba(11, 78, 165, 0.2);
      color: #0a264e;
      transition: 0.7s ease;
      border-radius: 8px;
      margin-right: 10px;
      cursor: pointer;
      a {
         font-style: normal;
         font-weight: bold;
         font-size: 14px;
         line-height: 150%;
         color: #0a264e;
         @media (min-width: $md3+px) {
            &:hover {
               color: rgba(10, 38, 78, 0.75);
            }
         }
      }
      @media (min-width: $md3+px) {
         &:hover {
            box-shadow: 0px 0px 5px rgba(11, 78, 165, 0.2);
            color: #0c528f;
            transition: 0.7s ease;
         }
      }
   }
   @media (max-width: $md3+px) {
      &__call {
         display: none;
      }
   }

   &__number {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      a {
         font-style: normal;
         font-weight: bold;
         font-size: 24px;
         line-height: 150%;
         color: #0a264e;
      }
      picture {
         display: flex;
         justify-content: center;
         align-items: center;
      }
      @media (min-width: $md3+px) {
         &:hover {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 150%;
            color: rgba(16, 88, 190, 0.75);
         }
      }
      @media (max-width: $md3+px) {
         & {
            width: 100%;
            padding: 10px 0;
            justify-content: center;
            background: #0b4ea5;
         }
         a {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 21px;
            color: #ffffff;
         }
      }
   }

   &__btn {
      background: #ffffff;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 150%;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      padding: 10px 20px;
      margin-left: 10px;
      box-shadow: 0px 7px 5px rgba(11, 78, 165, 0.2);
      color: #0a264e;
      transition: 0.7s ease;
      @media (min-width: $md3+px) {
         &:hover {
            box-shadow: 0px 0px 5px rgba(11, 78, 165, 0.2);
            color: #0c528f;
            transition: 0.7s ease;
         }
      }
   }
   @media (max-width: $md3+px) {
      &__btn {
         margin: 40px auto;
      }
   }
}
.bottom-header {
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #0c528f;
   padding: 10px 0;
   &.active{
      position: fixed;
   z-index: 20;
   top: 0;
   }
   &__wrapeer {
   }
   @media (max-width: $md3+px) {
      & {
         height: 45px;
         padding-top: 15px;
         background: #ffffff;
      }
   }
}
.header-bottom {
   display: flex;
   justify-content: space-between;
   align-items: center;
   &__nav-wrapper {
      display: flex;
   }
   &__nav {
      display: flex;
      justify-content: center;
      align-items: center;
   }
   &__nav img {
      display: none;
   }
   &__logo {
      font-style: normal;
      font-weight: normal;
      font-size: 64px;
      text-transform: uppercase;
      color: #ffffff;
   }

   &__navigation {
   }

   &__nav a {
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 150%;
      text-transform: uppercase;
      color: #ffffff;
      margin: 0 20px;
      transition: 0.5s ease;
      &:last-child {
         margin: 0 20px 0 0;

      }
      @media (min-width: $md3+px) {
         &:hover {
            color: #ed4444;
            transition: 0.5s ease;
         }
      }
   }
   @media (max-width: $md1+px) {
      &__nav a {
         font-size: 16px;
      }
   }
   @media (max-width: $md2+px) {
      &__logo {
         font-size: 40px;
      }
      &__nav a {
         font-size: 14px;
         margin: 0 10px;
      }
   }
   @media (max-width: $md3+px) {
      &__logo {
         font-style: normal;
         font-weight: 900;
         font-size: 28px;
         text-transform: uppercase;
         color: #000000;
      }
      &__nav a:last-child {
         margin: 0;
      }
      &__nav a {
         margin: 0;
         font-size: 25px;
         width: 100%;
         display: flex;
         justify-content: space-between;
      }
      &__nav {
         justify-content: space-between;
         padding: 10px 0;
         width: 100%;
      }
      &__nav img {
         display: block;
      }
      &__nav-wrapper {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-direction: column;
      }
   }
}
