.zip {
    height: 100%;
    width: 100%;
    background: #e5e5e5;
    padding: 50px 0;
    &__wrapper {
        height: 100%;
        width: 100%;
    }
    @media (max-width: $md3+px) {
        & {
            padding: 30px 0 45px;
        }
    }
}
.warapper-zip {
    display: flex;
    justify-content: center;
    align-items: stretch;
    &__text {
        width: 50%;
        margin-right: 20px;
    }

    &__inp {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__inp input {
        max-width: 365px;
        width: 100%;
        height: 56px;
        background: #ffffff;
        opacity: 0.8;
        border: 1px solid #dbdbdb;
        box-sizing: border-box;
        box-shadow: 0px 4px 13px rgba(11, 78, 165, 0.2);
        border-radius: 8px 0px 0px 8px;
        font-style: normal;
        padding-left: 10px;
        font-weight: normal;
        font-size: 17px;
        line-height: 20px;
        color: #0a264e;
    }

    &__go {
        height: 56px;
        width: 70px;
        background: linear-gradient(273.48deg, #a02c18 7.5%, #d93013 90.1%);
        box-shadow: 0px 4px 13px rgba(11, 78, 165, 0.2);
        border-radius: 0px 8px 8px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #dee5f1;
        transition: 0.7s;

    }
    @media (max-width: $md3+px) {
        & {
            flex-direction: column;
            align-items: center;
        }
        &__inp {
            margin-top: 20px;
        }
    }
    @media (max-width: $md4+px) {
        &__inp {
            width: 70%;
        }
        &__text {
            width: 70%;
        }
    }
    @media (min-width:$md3+px){
        &__go:hover{
            cursor: pointer;
            transform: rotate(360deg);
            transition: 0.7s;
        }
    }
}

.text-zip {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #0a264e;
        padding: 15px 0;
    }

    &__subtitle {
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 150%;
        color: #0a264e;
    }
    @media (max-width: $md3+px) {
        &__title {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
    }
}
